*{
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  padding: 0;
}
body{
  background : #000;
}
/*------------Header-----------*/
header, footer{
  width: 100%;
  min-height: 90px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(27, 4, 4);
  position: relative;
  border-radius: 15px;
  margin: 5px auto;
}
footer h3{
  color: #fff;
}
.logo{
  font-size: 2.5em;
  color: white;
  margin-left: 100px;
}
.logo h2{
  letter-spacing: 2px;
}

ul {
  flex: 2px;
  text-align: right;
  margin-right: 50px;
}
ul li {
  list-style: none;
  display: inline-block;
}
ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.5rem;
}
ul li:hover a {
  background-color: rgb(145, 4, 4);
}

/*------------section---Start--------*/
.container{
  display: grid;
    width: 70%;
    min-height: 450px;
    margin: 5px auto;
    position: relative;
    background-color: black;
    padding: 5px;
    border-radius: 15px; 
    box-shadow: -2px -2px 20px 4px rgb(27 4 4 / 91%);  
}

.best_movie_title{
  font-size: 2rem;
}
.best_movie_poster{
    margin-top: 2%;
    position:absolute;
    left: 54%;
    right: 50%;
}

.best_movie_poster img{
  width: 450px;
  height: 350px;
  display: block;
  object-fit: cover;
  cursor: pointer;
}

.content{
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: white;
    max-width: 400px;
    text-shadow: 0 0 1px #000;
   
    

}
.content h2{
    font-size: 2em;
    letter-spacing: 2px;
}
.content p{
    line-height: 1.4;
    margin: 10px 0;
}
.content a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: black;
}
.content a:hover{
  background-color: brown;
}
/*------------Movies cat --in--section-----------*/
.contain{
  max-width: 70%;
  margin: 0 auto;
}
.contain h1{
  color: #fff;
  letter-spacing: 2px;
  margin: 10px 20px;
}
/*--sliders--*/
.slider-wrapper {
  position: relative;
}
.slider-wrapper nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  pointer-events: none;
}
.slider-wrapper nav div {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: black;
  font-size: 41px;
  box-shadow: 0 0 6px 1px rgba(0,0,0, .3);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -65px;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
  pointer-events: all;
}
.slider-wrapper nav div:hover {
  background-color: #444;
}
.slider-wrapper nav div:hover {
  background-color: #444;
}
.slider-wrapper nav div.disable{
  opacity: 0;
  pointer-events: none;
} 
.slider {
  width: 100%;
  overflow-x:hidden;
}
.slider .wrapper {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: 150%;
  display: flex;
  overflow: hidden;
}
.slider  .slide {
  width: 330px; /* a default width */
  padding-left: 25px;
  padding-right: 25px;
}


/*------------Modal--section-----------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal_content {
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal_header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal_header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal_body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal_footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  @keyframes modalopen {
    from {
      opacity: 3;
    }
    to {
      opacity: 6;
    }
  }
/*------------responsive web site-----------*/
@media (max-width: 1100px){
    .logo{
        margin: 50px;
    }
    .ul{
        margin-right: 10px;
    }
}
@media (max-width: 960px){
    .ul{
        position: fixed;
        top: 0;
        left: -100%;
        background: #111;
        width: 100px;
        height: 100vh;
        z-index: 99;
        padding-top: 80px;
        text-align: center;
        overflow: auto;
        transition: 0.5s linear;
    }
    .ul li{
        display: block;
        padding: 20px 50px;
    }
    
}

#chk1{
    display: none;
}
@media (max-width: 760px){
  .row .nav{
      height: auto;
      flex-wrap: wrap;
      transition: 0.5s linear;
  }
  .column{
      width: 25%;
  }
  .prev, .next{
      display: flex;
  }
}
